:root {
  --background-color: #ffffff;
  --heading-color: #760000;
  --text-color: #000000;
  --link-color: #760000;
  --visited-color: #760000;
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&family=Alegreya:ital@1&display=swap');

body {
  font-family: 'Shippori Mincho', Georgia, serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.side-bar .site-nav, 
.side-bar .nav-list, 
.side-bar .nav-list-item, 
.side-bar .nav-list-link {
  font-size: 1.25rem;
  font-family: 'Shippori Mincho', Georgia, serif;
}




h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: var(--heading-color);
  font-weight: 600;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  min-width: initial;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

tr:nth-child(even) td {
  background-color: #ffffff;
}

tr:nth-child(odd) td {
  background-color: #cccccc;
}

thead {
  display: none; 
}

button {
  border: none;
  background: inherit;
  text-decoration: underline;
  color: var(--heading-color);
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--link-color);
}

img {
  max-width: 100%;
  height: auto;
}

